<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1><a href="{{path('home')}}">{{title}}</a></h1>
            </div>
            <p>
                This tool displays up to fifty articles in a given category on English Wikipedia,
                ranked by their <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">Flesch reading ease</a> scores.
            </p>

            <form action="{{path('home')}}" method="get" class="well">
                <div class="form-group">
                    <label for="cat" class="form-label">Category name:</label>
                    <input type="text" name="cat" class="form-control" {% if cat %}value="{{cat}}"{% endif %} />
                    <div class="help-block">Start typing a category name to be prompted with available choices.</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-info" />
                </div>
            </form>

            {% if cat and not pages %}
            <div class="alert alert-warning">
                No articles found in
                <a href="https://en.wikipedia.org/wiki/Category:{{cat}}" class="alert-link">Category:{{cat}}</a>
            </div>
            {% endif %}

            {% if pages %}
                <p>
                    {{pages|length|number_format}} articles retrieved from
                    <a href="https://en.wikipedia.org/wiki/Category:{{cat}}" class="alert-link">Category:{{cat}}</a>
                </p>
                <p>
                    <a role="button" data-toggle="collapse" href="#scoreKey" aria-expanded="false" aria-controls="scoreKey">
                        <strong>Display key to the readabilty scores</strong>
                    </a>
                </p>
                <div class="collapse well" id="scoreKey">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>School Level</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="flesch90">90.0–100.0</td>
                            <td>5th grade</td>
                            <td>Very easy to read. Easily understood by an average 11-year-old student.</td>
                        </tr>
                        <tr>
                            <td class="flesch80">80.0–90.0</td>
                            <td>6th grade</td>
                            <td>Easy to read. Conversational English for consumers.</td>
                        </tr>
                        <tr>
                            <td>70.0–80.0</td>
                            <td>7th grade</td>
                            <td>Fairly easy to read.</td>
                        </tr>
                        <tr>
                            <td>60.0–70.0</td>
                            <td>8th &amp; 9th grade</td>
                            <td>Plain English. Easily understood by 13- to 15-year-old students.</td>
                        </tr>
                        <tr>
                            <td>50.0–60.0</td>
                            <td>10th to 12th grade</td>
                            <td>Fairly difficult to read.</td>
                        </tr>
                        <tr>
                            <td>30.0–50.0</td>
                            <td>college</td>
                            <td>Difficult to read.</td>
                        </tr>
                        <tr>
                            <td>0.0–30.0</td>
                            <td>college graduate</td>
                            <td>Very difficult to read. Best understood by university graduates.</td>
                        </tr>
                    </tbody>
                </table>
                <p>Note that Flesch reading ease scores can also be below 0.0 and above 100.0.</p>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Score</th>
                            <th>Article</th>
                            <th>First paragraph</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td style="background-color:rgb(100,{{(255 * (page.score/100))|round}},100)"></td>
                            <td>{{page.score|number_format(1)}}</td>
                            <td><a href="https://en.wikipedia.org/wiki/{{page.title}}">{{page.title}}</a></td>
                            <td>{{page.extract}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <p class="text-muted text-right">
                Please report any bugs or feature requests via
                <a href="https://github.com/samwilson/wikipedia-readability/issues">GitHub</a>
            </p>
        </div>
        <script type="text/javascript">
            var searchUrl = "{{path('search')}}";
        </script>
        <script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>
        <script type="text/javascript" src="{{relative_path('scripts.js')}}"></script>
    </body>
</html>
